:root {
  --primary-color: #ffffff;
  --secondary-color: #2398ff;
  --default-font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h3 {
  text-align: center;
}

h1 {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 72px;
}

h3 {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 16px;
}

.hero p {
  font-size: 18px;
  font-weight: normal;
  color: var(--primary-color);
  margin: 0;
}

.hero {
  background-image: url(../images/nature.png);
  background-size: 50%;
  text-align: center;
  padding: 160px 80px;
}

.btn-branding {
  background: var(--secondary-color);
  color: white;
  border: 1px solid var(--secondary-color);
  border-radius: 50px;
}

.btn-branding-outline {
  border: 1px solid var(--secondary-color);
}

.project-description {
  padding: 100px 60px;
}

.subject-header {
  font-size: 45px;
  font-weight: bold;
  color: black;
}

@media (max-width: 900px) {
  h1 {
    font-size: 45px;
  }

  .hero {
  background-image: url(../images/nature.png);
  background-size: cover;
  text-align: center;
  padding: 80px 20px;
}

  .project-description {
    padding: 0;
    text-align: center;
  }

  .subject-header {
      font-size: 33px;
  }
}
